<ActionBar title="Bücher">
  <NavigationButton text="Home" nsRouterLink="home"></NavigationButton>
</ActionBar>
<ScrollView>
  <ActivityIndicator [busy]="!books"></ActivityIndicator>
  <Label *ngIf="books && !books.length" text="Es wurden noch keine Bücher eingetragen."></Label>
  <ListView *ngIf="books" [items]="books">
    <ng-template let-item="item">
      <GridLayout columns="*,4*" [nsRouterLink]="item.isbn">
        <bm-book-list-item [book]="item"></bm-book-list-item>
      </GridLayout>
    </ng-template>
  </ListView>
</ScrollView>