<ActionBar [title]="book.title"></ActionBar>
<ScrollView>
  <StackLayout class="m-20 t-14">
    <Label [text]="book.title" class="h1" textWrap="true"></Label>
    <Label [text]="book.subtitle" class="h2" textWrap="true"></Label>

    <GridLayout columns="120,auto" rows="auto,25,25,25" class="font-weight-bold">
      <Label col="0" row="0" text="Autoren" verticalAlignment="top"></Label>
      <StackLayout col="1" row="0" orientation="vertical">
        <Label *ngFor="let author of book.authors" [text]="author"></Label>
      </StackLayout>
      <Label col="0" row="1" text="ISBN"></Label>
      <Label col="1" row="1" [text]="book.isbn"></Label>
      <Label col="0" row="2" text="Erschienen"></Label>
      <Label col="1" row="2" [text]="book.published | date"></Label>
      <Label col="0" row="3" text="Rating"></Label>
      <Label col="1" row="3" [text]="book.rating"></Label>
    </GridLayout>

    <Label [text]="book.description" class="m-y-5" textWrap="true"></Label>
    <ScrollView orientation="horizontal">
      <StackLayout orientation="horizontal">
        <Image *ngFor="let thumbnail of book.thumbnails" [src]="thumbnail.url" height="380px" width="250px" class="m-r-10"></Image>
      </StackLayout>
    </ScrollView>
    <Button text="Buch löschen" class="-primary" (tap)="removeBook()"></Button>
  </StackLayout>
</ScrollView>